{% extends 'parents/base_template.html' %}
{% block title %}Add Address{% endblock %}
{% block body %}
    <form method="post" class="user-form">
    {% csrf_token %}
        <h1>اضافه کردن ادرس</h1>
        {{ form.as_p }}
        <div class="receiver-is-me">
            <label for="receiver-is-me-input" id="receiver-is-me-label">دریافت کننده خودم هستم:</label>
            <input type="checkbox" id="receiver-is-me-input">
        </div>

        <input type="submit" value="اضافه کن" class="user-submit">
    </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
        var checkbox = $('#receiver-is-me-input');
        checkbox.change(function (){
            if(this.checked){
                $('.receiver-name').val('{{ request.user.first_name }} '+'{{ request.user.last_name }}');
                $('.receiver-name').prop('readonly', true);

                $('.receiver-phone').val('{{ request.user.phone }}');
                $('.receiver-phone').prop('readonly', true);


            }else{
                $('.receiver-name').val('');
                $('.receiver-name').prop('readonly', false);

                $('.receiver-phone').val('');
                $('.receiver-phone').prop('readonly', false);
            }

        });

    });
</script>
{% endblock %}

