{% extends 'account/profile.html' %}
{% load jformat %}
{% block profileContent %}
    <table class="orders-table">
        <tr class="table-titles">
            <th>جزئیات سفارش</th>
            <th> شماره ی سفارش</th>
            <th> مبلغ سفارش</th>
            <th> زمان ساخت سفارش</th>
            <th> وضعیت پرداخت </th>

        </tr>
        {% for order in orders %}
            <tr class="order-contents">
                <td>
                    <a href="{% url 'ordering:order_details' order.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                        </svg>
                        <span>جزئیات </span>
                    </a>
                </td>
                <td>{{ order.id }}</td>
                <td>{{ order.get_final_cost }}</td>
                <td>{{ order.created|jformat:'%Y/%m/%d - %H:%M' }}</td>
                <td class="payment-status">
                    {% if  order.paid %}
                    	<span>پرداخت شده</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    {% else %}
                        <span>پرداخت نشده</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="false">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <td style="color:#ccd0cf; height: 40px;">اینجا سفارشی وجود ندارد!</td>
        {% endfor %}
    </table>
{% endblock %}