{% extends 'parents/base_template.html' %}
{% load humanize %}
{% block title %}Product List{% endblock %}
{% block body %}
<h1 class="product-list-title">
{% if category %}
    <p>
        دسته بندی بر اساس {{ category }}
    </p>
{% else %}
    <p>محصولات</p>
{% endif %}
</h1>
<div class="container">
    <div class="options-buttons">
        <p class="categories-button">دسته بندی ها</p>
        <p class="product-ordering-button">مرتب سازی بر اساس: <span>{{ ordering_by }}</span></p>
    </div>
    <div class="options">
        <div class="categories" hidden >
            <ul>
                <li><a href="{% url 'shop:product_list' %}"> همه </a></li>
            {% for ctg in categories %}
                <li class="category"><a href="{% url 'shop:product_by_category' ctg.slug %}">{{ ctg.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="product-ordering" hidden>
            {% if category %}
                <ul>
                    <li><a href="{% url 'shop:product_ordering_by_category' category_slug=category.slug ordering_slug='all' %}">همه</a></li>
                    <li><a href="{% url 'shop:product_ordering_by_category' category_slug=category.slug ordering_slug='inexpensive' %}">ارزان ترین ها</a></li>
                    <li><a href="{% url 'shop:product_ordering_by_category' category_slug=category.slug ordering_slug='expensive' %}">گران ترین ها</a></li>
                    <li><a href="{% url 'shop:product_ordering_by_category' category_slug=category.slug ordering_slug='rate' %}">پرطرفدارترین ها</a></li>
                    <li><a href="{% url 'shop:product_ordering_by_category' category_slug=category.slug ordering_slug='sells' %}">پرفروش ها</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'shop:product_ordering' ordering_slug='all' %}">همه</a></li>
                    <li><a href="{% url 'shop:product_ordering' ordering_slug='inexpensive' %}">ارزان ترین ها</a></li>
                    <li><a href="{% url 'shop:product_ordering' ordering_slug='expensive' %}">گران ترین ها</a></li>
                    <li><a href="{% url 'shop:product_ordering' ordering_slug='rate' %}">پرطرفدارترین ها</a></li>
                    <li><a href="{% url 'shop:product_ordering' ordering_slug='sells' %}">پرفروش ترین ها</a></li>
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="products" >
        {% for product in products %}
            <div class="product">
                <a href="{% url 'shop:product_details' product_slug=product.slug id=product.id %}">
                    <img class="product-image" src="{{ product.images.first.file.url }}" alt="{{ product.images.name }}">
                </a>
                <div class="product-text">
                    <h3 class="product-name"><a href="{% url 'shop:product_details' product_slug=product.slug id=product.id %}">{{ product.name }}</a></h3>
                    <p class="product-price"> قیمت : <del>{{ product.price|intcomma }}</del></p>
                    <p class="product-discount-price">قیمت بعد از تخفیف : {{ product.discount_price|intcomma }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'partials/pagination.html' with page=products %}
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
        $('.categories-button').click(function (){
            $('.categories').toggle('hidden');
        });
        $('.product-ordering-button').click(function (){
            $('.product-ordering').toggle('hidden');
        });

    });
</script>
{% endblock %}
