{% load jformat %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> shop | Factor Order</title>
</head>
<body>
    <div class="order-detail-body">
        <div class="order-info">
            <h5>تاریخ سفارش : {{ order.created|jformat:'%Y/%m/%d - %H:%M' }}</h5>
            {% if order.paid %}
                <h5>کد رهگیری : {{ order.reference_id }}</h5>
            {% endif %}
            <h5>شماره سفارش : {{ order.id }}</h5>
            <h5 class="payment-status">
                {% if  order.paid %}
                    <span>پرداخت شده</span>
                {% else %}
                    <span>پرداخت نشده</span>
                {% endif %}
            </h5>
        </div>
        <div class="order-details-address-users-info">
            <div>
                <p>اسم خریدار: {{ order.buyer.first_name }} {{ order.buyer.last_name }}</p>
                <p>شماره تلفن خریدار: {{ order.buyer.phone }}</p>
                <p>اسم گیرنده: {{ order.name }}</p>
                <p>شماره تلفن گیرنده: {{ order.phone }}</p>
            </div>

            <div>
                <p>استان: {{ order.province }}</p>
                <p>شهر: {{ order.city }}</p>
                <p> کد پستی: {{ order.postal_code }}</p>
                <p>توضیحات آدرس: {{ order.address }}</p>
            </div>
        </div>

        <div class="order-detail-items">
            {% for item in order.items.all %}
                <div class="order-detail-item">
                    <p>{{ item.product.name }}</p>
                    <p>قیمت هر واحد: {{ item.price|intcomma }}</p>
                    <p>تعداد: {{ item.quantity }}</p>
                    <p>قیمت کل: {{ item.get_cost|intcomma }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="order-detail-prices">
            <p>هزینه ی پست: {{ order.get_post_cost|intcomma }}</p>
            <p>جمع قیمت کالا ها: {{ order.get_total_cost|intcomma }}</p>
            <h3>هزینه ی کل سفارش: {{ order.get_final_cost|intcomma }}</h3>
        </div>
    </div>
</body>
</html>
